body{
    font-family: 'Open Sans', sans-serif;
    background: #fff;
    color: #9440D5;
    cursor: default;
    height: 100%;
    width: 100%;
}

* {
    padding: 0;
    margin: 0;
    border: 0;
}
:focus, :active {
    outline: none;
}

a:focus, a:active {
    outline: none;
}

button {
    cursor: pointer;
}

button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

a, a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

ul li {
    list-style: none;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

.title {
    font-size: 30px;
    margin-top: 80px;
    text-align: center;
    font-weight: 800;
}

/* button */
.button-wrapper{
    display: flex;
    justify-content: center;
}

.button {
    font-size: 20px;
    font-weight: 600;
    background: #f4e3ff;
    color: #9440D5;
    width: 225px;

    padding: 10px 40px;
    margin: 60px auto;
    border: 2px solid #9440D5;
    border-radius: 10px;
    transition: all .3s linear;
}

.button:hover {
    color: #fff;
    background-color: #9440D5;
}

/* table */
.browser_table {
    text-decoration: none;
    border-collapse:collapse;
    width: 80%;
    text-align:center;
    margin: 40px auto;
}

th{
    font-weight:normal;
    font-size:16px;
    color:#4e525d;
    background-color: #f4e3ff;
}

td{
    font-size:14px;
    color:#354251;
}

td,th{
    white-space:pre-wrap;
    padding:12px 0;
    line-height:14px;
    vertical-align: middle;
    border: 1px solid #9440D5;
}

.browser_name {
    text-align: center;
    margin: auto;
    text-align-last:center;
}
